<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @postulation_process.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @postulation_process.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @postulation_process.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @postulation_process.salary %>
</p>

<%= link_to 'Edit', edit_postulation_process_path(@postulation_process) %> |
<%= link_to 'Back', postulation_processes_path %>
